@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

@font-face{
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
  font-family: 'roboto-light';
}

:root {
  --primary-color: #003699;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Roboto';
}

body {
  width: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#register-close {
  color: #fff;
  margin: 2.5% 0 0 0;
  font-size: 2rem;
}

.home-container {
  background-image: url('./images/blue_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* ==== HEADER STYLES ==== */

.header {
  width: 100%;
  text-align: center;
}

/* ==== FOOD ITEM STYLES ==== */

.food-item {
  position: absolute;
}

/* ==== FOOTER STYLES ==== */
.footer-container button {
  width: 55%;
}

.footer-container p:hover,
.footer-container button:hover {
  cursor: pointer;
}

/* ==== SIGNIN FORM STYLES ==== */
.animation-test {
  /* height: 100px;
  width: 100px; */
  bottom: 0;
  position: absolute;
  background-color: #fff;
  transition: all .5s;
  -webkit-border-top-left-radius: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -moz-border-radius-topleft: 100px;
  -moz-border-radius-bottomright: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  /* left: 5%; */
}

.hidden {
  /* opacity: 0; */
  height: 0%;
  width: 0%;
  transform: translateX(700px) translateY(0);
  /* display: contents;  */
}

.notHidden {
  /* /* opacity: 100%; */
  transform: translateX(0) translateY(0);
  height: 100%;
  width: 100%; 
}

#form-container {
  display: none;
}

.form {
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  margin: 12.5rem auto;
}

.form h1 {
  margin-bottom: 2rem;
}

.form input {
  width: 100%;
  border: 1px solid #00ADEE;
  height: 3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  outline: none;
  padding-left: 1rem;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
}

#submit:hover,
#back:hover {
  cursor: pointer;
}

#submit {
  width: 40%;
  height: 3rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #00adef;
  color: #fff;
  padding-left: 0;
  border-radius: 0;
}

#back {
  width: 40%;
  height: 3rem;
  background-color: #EFEFEF;
  border: none;
  color: #000;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 0;
}

/* ==== REGISTER STYLES ==== */
.register-container {
  /* height: 0; */
  bottom: 0;
  position: absolute;
  transition: all .5s;
  background-color: #00ADEE;
}

.register-phone {
  width: 100%;
}

.register-phone-screen {
  display: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#register-close {
  display: none;
  padding-left: .5rem;
}

.phone-verification {
  width: 100%;
}

.phoneVerification {
  display: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.register-email {
  width: 100%;
}

.email-form {
  display: none;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#register-name {
  width: 100%;
}

.name-form {
  display: none;
  width: 50%;
  margin: 0 auto;
  text-align: center; 
}

.hide {
  opacity: 0;
  height: 0;
  width: 0;
  transition: all .5s;
}

.unhide {
  opacity: 1;
  transition: all .5s;
}

.carousel-container {
  width: 100%;
}

.carousel {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.carousel-buttons button:hover,
#register-close {
  cursor: pointer;
}

.carousel-buttons {
  width: 100%;
}

.carousel-buttons button {
  width: 310px;
  margin: 0 auto;
  height: 2.7rem;
  border-radius: 14px;
  border: none;
  background-color: #fff;
  color: #00adef;
  font-family: 'Roboto';
  font-size: 1.5rem;
  font-weight: bold;
}

.step-1 h1 {
  font-size: 1.3rem;
  letter-spacing: .03rem;
  margin-top: 1.8rem;
  margin-bottom: .3rem;
}

.step-1 p {
  font-size: 1.15rem;
  letter-spacing: .05rem;
  opacity: .8;
  margin-bottom: 1.8rem;
}

.step-1 input {
  width: 300px;
  border: none;
  height: 2.5rem;
  padding-left: .5rem;
  font-size: 1.1rem;
  margin-bottom: 1.8rem;
}

.step-2 h1 {
  font-size: 1.3rem;
  /* letter-spacing: .01rem; */
  margin-top: 1.8rem;
  margin-bottom: .3rem;
}

.step-2 p {
  font-size: 1.15rem;
  letter-spacing: .05rem;
  opacity: .8;
  margin-bottom: 1.8rem;
}

.step-2 input {
  width: 2rem;
  height: 3rem;
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
  outline: none;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.step-3 h1 {
  font-size: 1.3rem;
  /* letter-spacing: .01rem; */
  margin-top: 1.8rem;
  margin-bottom: .3rem;
}

#hidden-text {
  margin: 0 auto;
  font-size: 1.15rem;
  letter-spacing: .05rem;
  opacity: .8;
  margin-top: 1.8rem;
}

.step-3 p {
  font-size: 1.15rem;
  letter-spacing: .05rem;
  opacity: .8;
  margin-bottom: 1.8rem;
}

.step-3 input {
  width: 300px;
  border: none;
  height: 2.5rem;
  padding-left: .5rem;
  font-size: 1.1rem;
  margin-bottom: 1.8rem;
}

.carousel-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.step-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.step-4 h1 {
  font-size: 1.3rem;
  letter-spacing: .03rem;
  margin-top: 1.8rem;
  margin-bottom: 2rem;
}

.step-4 p {
  font-size: 1.15rem;
  letter-spacing: .05rem;
  opacity: .8;
  margin-bottom: 1.8rem;
}

.step-4 input {
  width: 300px;
  border: none;
  height: 2.5rem;
  padding-left: .5rem;
  font-size: 1.1rem;
  margin-bottom: 1.8rem;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  font-family: 'roboto';
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.cont-overlay {
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 0;
}